.App {
  text-align: center;
}

.App-container {
  background-color: #60204b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container-info {
  background-color: #f6f3ec;
  color: #60204b;
}

.App-link {
  color: #8061fb;
}
